.searchContainer {
    display: flex;
    gap: 8px; /* Adjust the gap between input and button */
     /* Adjust the width as needed */
    justify-content: center;
}

.searchButton{
    width:90px;
}

.searchInput{
    margin-top: 20px;
    width:150px;
}

.title {
    text-align: center; /* Center the title */
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Add some space below the title */
}

.container{
    margin-left:10px;
}





