.searchContainer {
    display: flex;
    gap: 2%; /* Adjust the gap between input and button */
    justify-content: center;
    margin-right: 5.58%; /* Converted to percentage */
    margin-top:0.97%;
}

.App{
    height:100%;
}

.searchButton{
    width: 35%; /* Converted to percentage */
    margin-top: 0.97%; /* Converted to percentage */
    font-size:1.8em;
    height:2.9%;
    background-color: #007bff;
    border-radius:10px;
    text-align:center;


    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchInput{
    margin-top: 1.94%; /* Converted to percentage */
    width: 35%; /* Converted to percentage */
    height: 2.9%; /* Converted to percentage */
    font-size:1.8em;
}

.titleCompany {
    margin-right: 7.27%; /* Converted to percentage */
    font-size: 4.6vw;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center; /* Center text horizontally */
    margin-top:4.85%;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    margin-left: 0.56%; /* Converted to percentage */
}



.newsCardsDivs {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 55px; /* Converted to percentage */
    margin-top:25px;
    height:45%;
    width:80%;
    margin-left:3%;
}

.companyNewsCard {
    width: calc(50% - 1.94%); /* Two cards per row with spacing */
    margin-bottom: 1.94%; /* Adjust spacing between rows */
}

