.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    border-radius: 10px;
}

.searchBar {
    margin-top: 0.97%; /* Converted to percentage */
    width: 35%; /* Converted to percentage */
    font-size:1.8em;
    height:2.9%
}

.clickButton {
    width: 35%; /* Converted to percentage */
    margin-top: 0.97%; /* Converted to percentage */
    font-size:1.8em;
    height:2.9%;
    background-color: #007bff;
    border-radius:10px;
    text-align:center;


    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.axis-label {
    fill: white !important; /* Change the color to white */
}

.iframe-container {
    width: 100%; /* Adjust the width of the iframe container */
}

.searchStuff{
    display:flex;
    justify-content: center;
    gap:1.12%; /* Converted to percentage */
    margin-top: 0.97%; /* Converted to percentage */
}

.titleMarket{
    color:white;
    margin-left:0.84%; /* Converted to percentage */
    font-size:4.6vw; /* Adjust font size as needed */
    margin-top: 4.85%; /* Converted to percentage */
}
    
.info {
    display: flex;
    align-items: center; /* Center items vertically */
    flex-direction: column;
}
